*{
    font-family: 'Teko', sans-serif;
  }

  a{
    text-decoration: none;
  }

  .order-detail label {
    font-size: 15px;
    font-weight: 700;
  }

  .order-detail div {
    padding: 7px;
    margin-bottom: 5px;
  }

  *{
    margin: 0;
    padding: 0;
}
/* rating */
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #8f8420;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #b4afaf;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

/* End of Star Rating */

.checked {
  color: #ffe400;
}

.search-bar {
  width: 400px;
  margin-left: 2%;
}

.whatapp-chat {
  justify-content: end;
  text-align: right;
  bottom: 10px;
  position: fixed;
}